{% extends 'base.html' %}
{% block title %}Refer{% endblock %}
{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5 pt-5">
      <div class="card-body p-5 text-center">

        <div class="mb-md-5 mt-md-4 pb-5 pt-5">

          <h1 class="fw-bold mb-2 text-uppercase pt-5">Refer & Win!</h1>
          <h6 class="fw-bold mb-2 py-2">Share this link with friends and family and earn 15 points when they sign up!</h6>

          <div class="form-outline input-group">
            <input class="form-control" id="referralLink" type="text" value="{{ referral['link'] }}" readonly />
            <div class="input-group-append">
                <button class="btn input-group-text" value="{{ referral['link'] }}" id="copyReferralLink" onclick="navigator.clipboard.writeText(this.value)">Copy</button>
            </div>
          </div>

          <div class="container my-5">
            <div class="row text-center">
              <div class="col">
                <a class="fab fa-whatsapp fa-2x" target="_blank" rel="noopener noreferrer" href="{{ referral['whatsapp'] }}" style="cursor:pointer; text-decoration: none;"></a>
              </div>
              <div class="col">
                <a class="fas fa-envelope fa-2x" target="_blank" rel="noopener noreferrer" href="{{ referral['email'] }}" style="cursor:pointer; text-decoration: none;"></a>
              </div>
              <div class="col">
                <a class="fab fa-instagram fa-2x" style="cursor:not-allowed;"></a>
              </div>
              <div class="col">
                <a class="fab fa-facebook fa-2x" style="cursor:not-allowed;"></a>
              </div>
            </div>
          </div>
          
          

        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}